.containerCard{
    margin: 20px;
    display: block;
    flex-wrap: wrap;
}

.containerData{
    background-image: url("../../cards.jpg");
    background-size:cover;
    background-attachment: fixed;
    width: 700px;
    margin-left: 200px;
    border: 1px solid;
}
 
.containerActivities{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.containerActivity{
    background-image: url("../../activityCard.jpg");
    background-size:cover;
    background-attachment: fixed;
    border: 1px solid;
    margin: 5px;
    width: 200px;
}

.containerActivity:hover{
    position: relative;
    left: 10px;
    bottom: 5px;
}

.btn{
    background-color: #DC3545;
    width: 100%;
    position: relative;
    right: 5px;
    bottom: 6px;
    border: 0.5px solid;
    cursor: pointer;
    font-weight: bold;
}

.activityText{
    color: white;
}

.error{
    color: white;
}
