.containerSearch{
    margin-top: 6px;
    width: 300px;
    height: 25px;
    text-align: start;
    display: flex;
}

.containerInput{
    position: absolute;
}

.containerReset{
    position: relative;
    margin-right: 103px;
    right: 63px;
    bottom: 1px;
}

.inputSearch{
    border-radius: 2px;
    outline: none;
    margin-bottom: 3px;
}

.inputSearch:focus{
    border: 2px solid rgba(17, 172, 255, 0.4);
    box-shadow: 0 0 0 4px rgba(17, 172, 255, 0.4);
}

.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerCard{
    background-image: url("../../cards.jpg");
    background-size:cover;
    background-attachment: fixed;
    color: rgba(12, 45, 190, 0.4);
    margin: 20px;
    border: 2px solid;
    border-radius: 8px;
    width: 300px;
}

.containerCard:hover{
    position: relative;
    left: 10px;
    bottom: 5px;
}

.image{
    width: 100%;
    object-position: center center;
    object-fit: cover;
}

.containerButton{
    margin-top: 2px;
}

.inputButton{
    margin-right: 8px;
    background-color: transparent;
    color: #8F00CD;
    border: 2px solid;
    padding: 4px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 2px;
}

.inputButton:hover{
    background-color:#8F00CD;
    color: white;
    border-color:#8F00CD ;
}

.button{
    /* margin: 6px; */
    margin-left: 8px;
    background-color: transparent;
    color: #8F00CD;
    border: 2px solid;
    padding: 2px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 2px;
}

.button:hover{
    background-color:#8F00CD;
    color: white;
    border-color:#8F00CD ;
}

.totalCountries,.error{
    color: white;
}

.prev,.next{
    color:#8F00CD;
    background-color:transparent;
    border: 2px solid;
    margin-bottom: 10px;
    cursor: pointer;
}

.prev:hover,.next:hover{
    color: white;
    background-color:#8F00CD;
    border-color: #8F00CD;
}